h1{
  font-family: cursive;
}

p{
  font-family: 'Indie Flower', cursive;
}

body{
  font-size: 20px;
  font-style: italic;
}



#two{
  font-size: 2em;
  /* This font size is double of body font Size */
}

h1{
  text-align: center;
}
